:root {
  /* Light Mode */
  --color-primary: #5e81ac;
  --color-secondary: #81a1c1;
  --color-accent: #88c0d0;

  --color-bg: #eceff4;
  --color-surface: #ffffff;

  --color-text: #2e3440;
  --color-text-secondary: #4c566a;
}

[data-theme="dark"] {
  /* Dark Mode */
  --color-primary: #81a1c1;
  --color-secondary: #88c0d0;
  --color-accent: #8fbcbb;

  --color-bg: #2e3440;
  --color-surface: #3b4252;

  --color-text: #eceff4;
  --color-text-secondary: #d8dee9;
}
